body{
    line-height: 1.6;
    font-family: arial , '微軟正黑體';
    font-size: 16px;
    background-image: url('../img/bg.jpg');
}

/* -------------header------------ */
header{
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    transition: 0.5s;
}

header .fa-solid {
    display: none;
    color: #fff;
    font-size: 20px;
}

.top{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-sizing: border-box;
}

.top img{
    width: 165px;
    padding-left: 20px;
    display: block;
}
/* 主選單 */
.top ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top li > a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
}
.top li > a:hover{
    color: #FF770F;
}
/* 子選單 */
.top ol  {
    border-top: #FF770F 2px solid;
    position: absolute;
    top: 63px;
}
.top ol li{
    display: none;
}
.top ol a{
    display: block;
    color: #fff;
    width: 100px;
    background-color: #222;
    font-size: 14px;
    
}
.top ol a:hover{
    background-color: rgb(27, 27, 27);;
}

/* .top li:hover ol > li {
    display: block;
} */

/* header捲動特效 */
.headerscroll{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    
    position: fixed;
    transition: 0.5s;
}

#header .a_scroll{
    color: #ff7707;
    transition: 0.7s;
}
#header .a_scroll:hover{
    color: saddlebrown;
}

#header .ham_scroll{
    color: #FF770F;
}


/* -------------footer------------ */

footer{
    background-color: #FF770F;
    box-sizing: border-box;
}

.info{
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.info > a{
    width: 165px;
    display: block;
    margin: 0 auto;
}

.info ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.info li{
    font-size: 14px;
    letter-spacing: 1px;
    border-right:1px solid #fff ;
    padding: 0 20px;
    
}

.info li:last-child{
    border-right: none;
}

.info li a{
    text-decoration: none;
    color: #fff;    
    display: block;

}

.info li a:hover{
    color: saddlebrown;
}

.info img {
    width: 165px;
    display: block;
    margin: 0 auto 30px;
    padding-top: 40px;
}

.info p{
    font-size: 12px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
/* 字型---------------------------------- */
/* h1 */
.pagetitle{
    font-size: 180px;
    line-height: 200px;
    text-align: center;
    font-weight: bold;
    padding-top: 299px;
    background-image: url('../img/bg.jpg');
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

h2{
    font-size: 36px;
    letter-spacing: 8px;
    line-height: 40px;
    font-weight: bold;
}

h3{
    font-size: 24px;
    letter-spacing: 4px;
}

h4{
    font-size: 32px;
    letter-spacing: 5px;

}

h5{
    font-size: 24px;
    letter-spacing: 4px;
}

h6{
    font-size: 20px;
    letter-spacing: 3px;
}

.font24px{
    font-size: 24px;
    letter-spacing: 4px;
}

.font20px{
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.7;
}

.font18px{
    font-size: 18px;
    letter-spacing: 2px;
}

.font16px{
    font-size: 16px;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    text-align: center;
    text-indent: 5px;
}

/* 顏色---------------------------------- */
.orange {
    color: #FF770F;
}

.gray{
    color: #B8B8B8;
}

.darkgray{
    color:#545454;
}

.white {
    color: #fff;
}

/* banner------------------------------- */
.banner{
    height: 460px;
    width: 100%;
    background-size: cover;
    background-position: center center; 
    overflow: hidden;
}

/* ------------------RWD---------------------- */
@media screen and (max-width: 960px){
   /* header */
   header{
    box-sizing: border-box;
}

.top{
    padding: 18px 20px;
}
header .fa-solid{
    display: block;
}

/* 點漢堡 ul出來 */
header .top .ham_ul_show{
    left: 0;
    transition: 1s;
}
.top img{
    width: 115px;
    padding: 0;
}

.top ul{ 
    /* display: none; */
    position: absolute;
    top: 68px;
    left: -100vw;
    background-color: #222;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    border-top: 2px solid rgba(0, 0, 0, .3);
    transition: 1s;
}

.top li{
    border-bottom: .5px solid #fff;
    width: 85vw;
    
}

.top li > a{
    line-height: 80px;
    
}

.top ol li{
    border: 0px;

}
.top ol a{
    width: 80%;
    margin: 0 auto;
    line-height:65px;

}
/* .top li:hover ol > li {
    display: none;
} */

/* 要改用JS */
.li_show{
    display: block;
    /* transition: 1s; */
}
.top ol li:first-child a{
    border-bottom: .5px solid #fff;
    transition: .5;
}

.top ol{
    position: static;
    border-top: .5px solid #fff;
}

header .top ul > li:first-child > a::before ,
header .top ul > li:nth-child(2) > a::before ,
header .top ul > li:nth-child(3) > a::before ,
header .top ul > li:nth-child(4) > a::before ,
header .top ul > li:nth-child(5) > a::before ,
header .top ul > li:nth-child(6) > a::before {
    display: none;
}
/* 點漢堡變色 */
.ham_bg{
    background-color: #222;
    color: #FFF;
}
/* 取消捲動ul顏色 */
#header .a_scroll{
    color: #FFF;
    transition: 0.7s;
}

#header .ham_scroll{
    color: #FF770F;
}
/* 點漢堡header 白色 */

/* header END */ 
}
@media screen and (max-width: 414px){

/* header */
    header{
        box-sizing: border-box;
    }

    .top{
        padding: 18px 20px;
    }
    header .fa-solid{
        display: block;
    }

    /* 點漢堡 ul出來 */
    header .top .ham_ul_show{
        left: 0;
        transition: 1s;
    }
    .top img{
        width: 115px;
        padding: 0;
    }

    .top ul{ 
        /* display: none; */
        position: absolute;
        top: 68px;
        left: -100vw;
        background-color: #222;
        flex-direction: column;
        justify-content: start;
        width: 100vw;
        height: 100vh;
        border-top: 2px solid rgba(0, 0, 0, .3);
        transition: 1s;
    }

    .top li{
        border-bottom: .5px solid #fff;
        width: 85vw;
        
    }

    .top li > a{
        line-height: 80px;
        
    }

    .top ol li{
        border: 0px;

    }
    .top ol a{
        width: 80%;
        margin: 0 auto;
        line-height:65px;

    }
    /* .top li:hover ol > li {
        display: none;
    } */

    /* 要改用JS */
    .li_show{
        display: block;
        /* transition: 1s; */
    }
    .top ol li:first-child a{
        border-bottom: .5px solid #fff;
        transition: .5;
    }

    .top ol{
        position: static;
        border-top: .5px solid #fff;
    }

    header .top ul > li:first-child > a::before ,
    header .top ul > li:nth-child(2) > a::before ,
    header .top ul > li:nth-child(3) > a::before ,
    header .top ul > li:nth-child(4) > a::before ,
    header .top ul > li:nth-child(5) > a::before ,
    header .top ul > li:nth-child(6) > a::before {
        display: none;
    }
    /* 點漢堡變色 */
    .ham_bg{
        background-color: #222;
        color: #FFF;
    }
    /* 取消捲動ul顏色 */
    #header .a_scroll{
        color: #FFF;
        transition: 0.7s;
    }

    #header .ham_scroll{
        color: #FF770F;
    }
    /* 點漢堡header 白色 */
    
/* header END */
/* footer */
.info ul{
    display: none;
}
.info p{
    padding: 0 15px 20px;
}

/* footer END */

    .pagetitle{
        font-size: 72px;
        padding-top:90px;
    }
    h2{
        font-size: 24px;
        letter-spacing: 5px;
        line-height: 30px;
    }
    h3{
        font-size: 16px;
        letter-spacing: 2px;
    }

    h4{
        font-size: 24px;
        letter-spacing: 5px;

    }

    h5{
        font-size: 16px;
        letter-spacing: 2px;
    }

    h6{
        font-size: 16px;
        letter-spacing: 2px;
    }
    .info img{
        width: 130px;
        padding-top:33px;
        padding-right: 7px;
        margin: 0 auto 26px;
    }
    /* banner */
    .banner{
        height: 214px;
    }
}