@import url('reset.css');

@import url('base.css');


/* about page */

.top ul li:first-child a{
    position: relative;
}

.top ul > li:first-child > a::before {
    content: "";
    display: block;
    width: 77px;
    height: 2px;
    background: #FF770F;
    position: absolute;
    left: 19px;
    bottom: 4px;
}

/* --------------------banner----------------------- */
.ab_banner{
    background-image: url('../img/about_story/banner_story.jpg');
}

/* ---------------內容--------------- */

/* 按鈕 */
.about_btn{
    margin: 0 auto;
    border: 1px solid #FF770F;
    width: 267px;
    border-radius: 40px;
    text-align: center;
    position: relative;
    margin-top: 66px;
}

.story_btn , .food_btn{
    color: #FF770F;
    line-height: 50px;
    width: 130px;
    display: inline-block;
}

.story_btn:hover , .food_btn:hover{
    color: saddlebrown;
}

.food_btn::before{
    content: "";
    width: 1px;
    height: 20px;
    background: #FF770F;
    display: block;
    position: absolute;
    left: 133px;
    top: 14px;
}

/* 內文 */
.ab_content{
    text-align: center;
    
}
.ab_content h2{
    /* font-weight: bold; */
    margin-top: 67px;
}
.ab_content h6{
    margin: 44px 0 76px;
}

.ab_info {
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 75px;

}

.ab_info li{
    width: 300px;
    margin: 0 30px 20px;
}

.ab_info img{
    border-radius: 10px;
}

.ab_info h4{
    text-align: center;
    margin: 20px 0;
}

/* about page END */

/* RWD */
@media screen and (max-width: 414px){
    .story_btn, .food_btn{
        font-size: 14px;
        width: 113px;
    }
    .about_btn{
        width: 227px;
        margin-top: 35px;
    }
    .food_btn::before{
        left: 116px;
    }
    .ab_content h2{
        margin-top: 48px;
    }
    .ab_content h6{
        margin: 32px 0 43px;
    }
    .ab_info li{
        margin: 0 0 30px;
        width: 100%;
        padding: 0 20px;
    }
    .ab_info img{
        width: 100%;
    }
    .ab_info h4{
        margin: 10px 0;
    }
    .ab_info li p{
        text-align: center;
    }
    .ab_info{
        margin-bottom: 40px;
    }
}