@import url('reset.css');

@import url('base.css');

html {
    scroll-behavior: smooth;
  }
 /* menu page */
 .top ul li:nth-child(3) a{
    position: relative;
}

.top ul > li:nth-child(3) > a::before {
    content: "";
    display: block;
    width: 77px;
    height: 2px;
    background: #FF770F;
    position: absolute;
    left: 19px;
    bottom: 4px;
}
 /* banner */
 .me_banner{
    background-image: url('../img/menu/banner_menu.jpg');
    position: relative;
    margin-bottom: 165px;
    height: 460px;
    width: 100%;
    background-size: cover;
    background-position: center center; 
 }

 .pagetitel_me{
    padding-top: 318px;
    font-size: 180px;
    line-height: 0;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    color: #fff;
 }

 .me_bar{
    background-color: #fff;
    border-radius: 88px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .25);
    height: 180px;
    width: 66%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    top: 380px;
}
 .me_bar > a >img{
    display: none;
 }
 .me_bar ul{
    display: flex;
    justify-content: space-around;
    padding: 35px  25px;

    overflow: hidden;

 }

 .me_bar li{
    text-align: center;
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0 10px;
    

 }

 .me_bar a{
    color: #000;
    font-weight: bold;
 }
 .me_bar img{
    display: block;
    margin: auto;
    margin-bottom: 5px;
 }

/* 菜單按鈕 */
.me_btn{
    display: flex;
    justify-content: center;
}

.btn_menu , .btn_order{
    color: #FF770F;
    border: #FF770F 1px solid;
    border-radius: 57px;
    font-size: 24px;
    letter-spacing: 5px;
    display: block;
    width: 195px;  
    line-height: 55px;
    margin: 0 15px;
}

.btn_menu:hover , .btn_order:hover{
    color: #fff;
    background-color: #FF770F;
}
/* 完整菜單燈箱 */
#lightbox{
    /*   border: 1px solid red; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    z-index: 10000;
}
.none{
    display: none;
}

#lightbox  .lightbox_img{
    background-color: white;
    width:  60%;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#lightbox img{
    width: 100%;
    
}

/* 菜單內容 */
.me_content{
    width: 855px;
    box-sizing: border-box;
    margin: 0 auto;
    /* padding-top: 70px; */
}

.me_content li:nth-child(odd){
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.me_content li:nth-child(even){
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 40px;
}
.me_content li:last-child{
    margin-bottom: 90px;
}
.me_content img{
    display: block;
    border-radius: 10px;
}

.me_content li:nth-child(odd) > .item_text{
    border-right: 3px solid #FF770F;
    padding: 5px 23px;
    text-align: right;
}

.me_content li:nth-child(even) > .item_text{
    border-left: 3px solid #FF770F;
    padding: 5px 23px;
}
.item_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item_text h2{
    margin-bottom: 44px;
    font-weight: bold;
    color: #FF770F;
}
.me_content li:nth-child(odd) p{
    padding-right: 4px;
}
.item_text p{
    font-weight: bold;
}


/* 向上按鈕 */
.up{
    display: none;
    transition: 2s;
    cursor: pointer;
}

.up img{
    display: block;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.25);
    position: fixed;
    right: 100px;
    bottom: 60px;
}

footer{
    margin-top: 130px;
}

/* 錨點偏移 */

.target-fix {
    position: relative;
    top: -100px; 
    display: block;
    height: 0;
    overflow: hidden;
}
/* menu page END */

/* RWD */
@media screen and (max-width: 414px){
    .pagetitel_me{
        font-size: 72px;
        padding-top: 153px;
    }
    .me_banner{
        height: 214px;
        margin-bottom: 135px;
    }
    .me_bar{
        height: 135px;
        top: 170px;
        display: flex;
        align-items: center;
    }
    .me_bar ul{
        width: 120px;
        padding: 10px 0;
        margin: 0 auto;
    }
    .me_bar p{
        font-size: 16px;
    }
    .me_btn{
        margin-bottom: 10px;
    }
    .me_bar > a >img{
        display: block;
        height: 40px;
        padding: 30px;
    }
    .btn_menu, .btn_order{
        font-size: 16px;
        width: 126px;
        line-height: 33px;
    }
    .me_content{
        width: 90%;
    }
    .me_content img{
        max-width: 100%;
    }
    .me_content li:nth-child(odd),.me_content li:nth-child(even){
        flex-direction: column;
        padding-top: 40px;
        margin-bottom: auto;
        align-items: center;
    }
    .me_content li:nth-child(odd) > .item_text,.me_content li:nth-child(even) > .item_text{
        border: none;
        text-align: center;
        padding: 40px 0 0;
    }
    .item_text h2{
        border-right:3px  solid #FF770F;
        border-left:3px  solid #FF770F;
        margin-bottom: 25px;
        width: 155px;
        margin: 0 auto 20px;

    }
    .me_content li:first-child .item_text  h2{
        width: 170px;
        margin: 0 auto 20px;
    }
    .item_text p{
        font-size: 16px;
        line-height: 40px;

    }
    .up img{
        width: 36px;
        height: 36px;
        right: 33px;
        bottom: 33px;
    }
    footer{
        margin-top: 70px;
    }
}