@import url('reset.css');

@import url('base.css');

/* order page */

/* 上方點餐表單 */

.up{
    width: 35%;
    margin: 0 auto;
    margin-top: 195px;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.up h2{
    text-align: center;
    margin-bottom: 35px;
}

.up label{
    font: 16px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: #747474;
    
}

.up select{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #979797#fff;
    margin-bottom: 20px;
    letter-spacing: 2px;
    box-sizing: border-box;
    padding: 15px;
    outline: 0;
    appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none;
    background-image: url('../img/join/splider_arrow.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 30px;

}
.up option{
    background-color: rgb(255, 255, 255);
}
/* 日期 */
/* input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 50%;

}
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 50%;
}
input[type="date"]::-webkit-inner-spin-button {
        display: none;
}
input[type="date"]::-webkit-clear-button{
    display:none;
 } */

 input::-webkit-calendar-picker-indicator{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

.or_date1 ,.or_time1{
    height: 50px;
    border: 1px solid #979797;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    letter-spacing: 2px;
    margin-bottom: 20px;
    background-image: url('../img/join/splider_arrow.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 30px;
    opacity: 1;
    position: relative;
}

/* 中間選菜單 */
.or_bar{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    border-top: 1px solid #949494;
    border-bottom: 1px solid #949494;
    margin-bottom: 45px;
}

.or_bar li{
    line-height: 70px;
}

.or_bar a{
    color: #FF770F;

}


/* 下方點餐菜單 */
/* 菜單分類 */
.or_menu{
    width: 70%;
    margin: 0 auto;
}
.or_title{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}
.or_menu h6{
    text-align: center;
    font-weight: bold;
}

.or_menu h6::after , .or_menu h6::before{
    content: "";
    width: 40%;
    height: 1px;
    background-color: #000;
    position: absolute;
}


.or_menu h6::before{
    left: 0px;
    top: 14px;
}
.or_menu h6::after{
    right: 0px;
    top: 14px;
}
/* 菜單 */
.or_menu ul{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    grid-auto-rows: 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;


    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

}

.or_menu a{
    color: #000;
}

.or_menu a:hover{
    transform: scale(1.05);
    transition: .3s;
}

.or_menu li{
    min-width: 270px;
    height: 82px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .25);
    border-radius: 6px;
    padding: 15px 22px 10px 22px;
    box-sizing: border-box;
    /* margin: 0 20px 45px 20px; */
    justify-content: space-between;
}



.or_menu_text{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}   

.or_money{
    font-size: 12px;
    letter-spacing: 2px;
}

.or_menu img{
    display: block;
    width: 75px;
    height: 50px;
    
}
.or_name{
    text-indent: 3px;
}

.cart{
    position: fixed;
    background-color: #fff;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 70px;
    box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.05);
}
button{
    font-size: 15px;
    letter-spacing: 2px;
    width: 70%;
    padding: 0 25px;
    height: 40px;
    border-radius: 14px;
    background-color: #FF770F;
    color: #fff;
    border: 0;
    display: block;
    margin: 15px auto ; 

}

button:hover{
    background-color: #FFD447;
    color: #333;
}

.or_menu ul:last-child{
    margin-bottom: 150px;
}

footer{
    margin-top: 170px;
}

/* 錨點偏移 */

.target-fix {
    position: relative;
    top: -120px; 
    display: block;
    height: 0;
    overflow: hidden;
}