@import url('reset.css');

@import url('base.css');



/* shop page */

.sh_banner{
    background-image: url('../img/shop/banner_shop.jpg');
 }

 /* 按鈕 */

 .sh_btn{
    margin: 0 auto;
    border: 1px solid #000000;
    width: 267px;
    border-radius: 40px;
    text-align: center;
    position: relative;
    margin-top: 66px;
    margin-bottom: 60px;
}

.sh_btn1 , .sh_btn2{
    color: #000000;
    line-height: 50px;
    width: 130px;
    display: inline-block;
}

.sh_btn1:hover , .sh_btn2:hover{
    color:#FF770F;
}

.sh_btn2::before{
    content: "";
    width: 1px;
    height: 20px;
    background: #000000;
    display: block;
    position: absolute;
    left: 133px;
    top: 14px;
}

/* 服務據點-字 */

.sh_title{
    text-align: center;
    margin-bottom: 60px;
}

/* 表格 */

table{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 150px;
}

tr{
    border-bottom: 1px solid #9A9A9A;
}

.td_title{
    font-weight: bold;
    border-top: 2px solid #898989;
    border-bottom: 2px solid #898989;
}

td{
    line-height: 4;
}

.btn_td{   
    display: block;
    width: 95px;
    height: 35px;
    border: 1px solid #FF770F;
    border-radius: 30px;
    text-align: center;
    line-height: 35px;
    color: #FF770F;
    font-size: 14px;
    
}

.btn_td:hover{
    color: #FFF;
    background-color: #FF770F;
}

.map{
    display: block;
}

table img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.column1{
    padding-left: 10px;
}
.column4{
    width: 95px;
    padding-right: 15px;
}

.column5{
    width: 50px;
    box-sizing: border-box;
    position: relative;
}

/* shop page END */

